$left-section-md-fix-width: 250px;

/*
 * Media queries
 */
@media screen and (min-width: $breakpoint-sm-mobile) {
}

@media screen and (min-width: $breakpoint-md-tablet) {
    #left-section.md-fix {
        width: $left-section-md-fix-width;
        padding: 0 12px;
    }
}

@media screen and (min-width: $breakpoint-lg-desktop) {
}

@media screen and (min-width: $breakpoint-xl-large-screen) {
}

#left-section {
    float: left;

    .content-container {
        border-radius: 2px;
        background-color: #ffffff;
        padding: 24px;

        .welcome-home-heading {
            @extend .bs-txt-heading-md;
        }

        .user-name {
            @extend .bs-txt-heading-seafoam-blue-md;
            margin: 0 0 18px 0;
        }

        .avater {
            display: block;
            margin: 0 auto 24px auto;
        }

        .topic-heading {
            @extend .bs-txt-heading-md;
            margin: 0 0 16px 0;
        }

        .topic {
            @extend .bs-txt-content-sm;
        }
    }
}
