$navbar-height: 64px;

/*
 * Media queries
 */
@media screen and (min-width: $breakpoint-sm-mobile) {
    #navbar {
        .streetlife-logo {
            margin: 17px auto 0 auto;
        }
    }
}

@media screen and (min-width: $breakpoint-md-tablet) {
    #navbar {
        .streetlife-logo {
            margin: 17px 0 0 48px;
        }
    }
}

@media screen and (min-width: $breakpoint-lg-desktop) {

}

@media screen and (min-width: $breakpoint-xl-large-screen) {
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: $navbar-height;
    background-color: #4c4c4c;

    .menu {
        position: absolute;
        width: 28px;
        height: 18px;
        top: 26px;
        left: 24px;
        cursor: pointer;
    }

    .streetlife-logo {
        display: block;
    }

}
