$newsfeed-md-fix-width: 528px;

@media screen and (min-width: $breakpoint-sm-mobile) {
}

@media screen and (min-width: $breakpoint-md-tablet) {
    #news-feed {
        padding: 0 12px;
    }

    #news-feed.md-fix {
        width: $newsfeed-md-fix-width;
    }
}

@media screen and (min-width: $breakpoint-lg-desktop) {
}

@media screen and (min-width: $breakpoint-xl-large-screen) {
}

@keyframes loadingAnimation {
    from {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    to {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
}

#news-feed {
    float: left;
    word-wrap: break-word;

    .message,
    .empty-state-message {
        border-radius: 5px;
        background-color: #ffffff;
        margin: 0 0 20px 0;

        .main-post {
            padding: 16px 24px 16px 24px;

            .author-info {
                clear: both;

                .right-container {
                    overflow: hidden;
                    padding: 10px 0 0 0;

                    .display-name {
                        @extend .bs-txt-heading-md;
                        overflow: auto;
                    }

                    .nearest-area {
                        @extend .bs-txt-time-places;
                        overflow: auto;
                        float: left;
                        margin: 0 9px 0 0;
                    }
                    .updated-at {
                        @extend .bs-txt-time-places;
                        overflow: auto;
                        float: left;
                    }
                }

                .avatar {
                    @extend .bs-avatar-md;
                    float: left;
                    margin: 0 24px 16px 0;
                }

            }
            .subject {
                @extend .bs-txt-heading-md;
                clear: both;
                margin: 0 0 8px 0;
            }
            .body {
                @extend .bs-txt-content-md;
            }
            .read-more {
                @extend .bs-txt-functional-text-seafoam-blue-md;
                margin-left: 10px;
            }
            .tags-container {
                clear: both;
                padding: 0;
            }
            .main-post-footer {
                overflow: auto;

                .write-comment {
                    @extend .bs-txt-functional-text-grey-sm;
                    float: left;
                }

                .write-comment:before {
                    content: '';
                    display: block;
                    background: url("img/icons-sprite.svg") no-repeat;
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    float: left;
                    margin: 4px 8px 0 0;
                    width: 14px;
                    height: 14px;
                }

                .comment-count {
                    @extend .bs-txt-functional-text-grey-sm;
                    float: right;
                }
            }
        }

        .write-comment-container {
            clear: both;
            padding: 16px 0 0 0;
            width: 100%;

            .current-user-avatar {
                @extend .bs-avatar-sm;
                float: left;
                margin-right: 24px;
            }
            .comment-input-container {
                overflow: hidden;

                .comment-input {
                    overflow: auto;
                    padding: 8px 8px;
                    width: 100%;
                    box-sizing: border-box;
                    border-radius: 2px;
                    background-color: #ffffff;
                    border: solid 1px #c8c9cb;
                }
            }
        }

        .comment-section {
            background-color: $pale-grey;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 0px 24px 0px 24px;

            .view-earlier-comment-container {
                clear: both;
                overflow: auto;
                text-align: right;

                .view-earlier-comment {
                    @extend .bs-txt-functional-text-grey-sm;
                    float: right;
                    display: inline-block;
                }

                .view-earlier-comment:after {
                    content: '';
                    float: right;
                    width: 3px;
                    height: 3px;
                    background-color: $warm-grey;
                    border-radius: 50%;
                    margin: 9px 7px 0 8px;
                }

                /* Refresh icon */
                .view-earlier-comment.error:before {
                    content: '';
                    display: block;
                    float: left;
                    background: url("img/icons-sprite.svg") no-repeat;
                    background-position: 0 -14px;
                    background-repeat: no-repeat;
                    width: 12px;
                    height: 12px;
                    margin: 4px 8px 0 0;

                }

                .comment-count {
                    @extend .bs-txt-functional-text-grey-sm;
                    float: right;
                    margin: 0 0 8px 0;
                }
            }

            .comment-list-container {
                padding: 16px 0 16px 0;

            }

            .comment-list {
                .comment {
                    clear: both;
                    min-height: 60px;
                    padding: 0;
                    border-radius: 5px;

                    .avatar {
                        @extend .bs-avatar-sm;
                        float: left;
                        margin: 0 24px 16px 0;
                    }

                    .right-container {
                        overflow: hidden;
                        padding: 6px 0 0 0;

                        .display-name {
                            @extend .bs-txt-heading-sm;
                            float: left;
                            margin: 0 16px 0 0;
                        }

                        .updated-at {
                            @extend .bs-txt-time-places;
                        }

                        .body {
                            @extend .bs-txt-content-sm;
                            clear: both;
                        }
                    }
                }

                .comment:not(:first-child):before {
                    content: '';
                    display: block;
                    background-color: $grey;
                    height: 1px;
                    width: 100%;
                    margin: 16px auto 16px auto;

                }
            }
        }
    }

    .empty-state-message {
        padding-bottom: 58px;
        position: relative;
        overflow: hidden;

        .text-block {
            height: 14px;
            border-radius: 2px;
            margin: 0 0 12px 0;
            background-color: $super-light-grey;
        }
        .main-post {
            .author-info {
                .avatar {
                    background-color: $super-light-grey;
                }

                .right-container {
                    .display-name {
                        width: 108px;
                        background-color: $grey;
                    }

                    .nearest-area {
                        width: 140px;
                    }
                }
            }

            .subject {
                width: 200px;
                margin: 0 0 16px 0;
                background-color: $grey;
            }
            .body {
                .text-block-long {
                    width: 90%;
                }

                .text-block-medium {
                    width: 75%;
                }

                .text-block-short {
                    width: 40%;
                }
            }
        }

        .animated-cover {
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: loadingAnimation;
            animation-timing-function: linear;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 75%);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            position: absolute;
            width: 100%;
            height: 100%;
        }

    }
}



