$right-section-md-fix-width: 252px;

/*
 * Media queries
 */
@media screen and (min-width: $breakpoint-sm-mobile) {
}

@media screen and (min-width: $breakpoint-md-tablet) {
}

@media screen and (min-width: $breakpoint-lg-desktop) {
    #right-section.lg-fix {
        width: $right-section-md-fix-width;
        padding: 0 12px;
    }
}

@media screen and (min-width: $breakpoint-xl-large-screen) {
}

#right-section {
    float: left;

    .container {
        background-color: $pure-white;
        border-radius: 2px;
        padding: 16px;
        margin: 0 0 16px 0;
    }

    .error-demo-toggle-section {
        .server-error-img {
            margin: 0 auto 16px auto;
            display: block;
        }

        .content {
            @extend .bs-txt-content-sm;
            clear: both;
            margin: 0 0 8px 0;
        }


    }

    .advert {
        overflow: auto;

        .image {
            clear: both;
            width: 196px;
            height: 120px;
            margin: 0 0 16px 0;
        }

        .title {
            @extend .bs-txt-heading-md;
            clear: both;
            margin: 0 0 8px 0;
        }

        .content {
            @extend .bs-txt-content-sm;
            clear: both;
            margin: 0 0 8px 0;
        }

        .sponsered {
            @extend .bs-txt-time-places;
            float: right;
        }
    }
}
