@import "_base";

/* font */
@font-face {
    font-family: ProximaNova-Bold;
    src: url('fonts/ProximaNova-Bold.otf');
}

@font-face {
    font-family: ProximaNova-Regular;
    src: url('fonts/ProximaNova-Regular.otf');
}

/*
 * Media queries
 */
@media screen and (min-width: $breakpoint-sm-mobile) {
}

@media screen and (min-width: $breakpoint-md-tablet) {
}

@media screen and (min-width: $breakpoint-lg-desktop) {
}

@media screen and (min-width: $breakpoint-xl-large-screen) {
}

/*
 * General Styles
 */
body {
    @extend .bs-txt-content-md;
    background-color: $background-grey;
}

a {
    color: $faded-blue;
    text-decoration: none;
}

p {
    margin: 0;
}

button {
    outline: none;
    border-radius: 2px;
    border: 0;
    color: $pure-white;
    font-size: 14px;
    line-height: 2;
    font-family: ProximaNova-Bold;
    background-color: $seafoam-blue;
}

button:hover {
    background-color: $faded-blue;
}

textarea {
    outline: none;
}

.full-width {
    width: 100%
}

.tag {
    @extend .bs-txt-tags;
    display: inline-block;
    padding: 0 15px 0 15px;
    height: 24px;
    border-radius: 100px;
    background-color: $seafoam-blue;
}

.tag:hover {
    background-color: $faded-blue;
}
