@import "_base";
@import "_leftSection";
@import "_rightSection";
@import "_navbar";
@import "_newsFeed";

/*
 * Variables
 */

/*
 * Media queries
 */
@media screen and (min-width: $breakpoint-sm-mobile) {
}

@media screen and (min-width: $breakpoint-md-tablet) {
    #main-content.md-fix {
        margin: 0 auto;
        width: $left-section-md-fix-width + $newsfeed-md-fix-width;
    }
}

@media screen and (min-width: $breakpoint-lg-desktop) {
    #main-content.lg-fix {
        margin: 0 auto;
        width: $left-section-md-fix-width + $newsfeed-md-fix-width + $right-section-md-fix-width;
    }
}

@media screen and (min-width: $breakpoint-xl-large-screen) {
}

/*
 * Main Layout Styles
 */
#main-content {
    padding-top: $navbar-height + 15px;
}
